//======================================================BOXED LAYOUT=======================================================

$container-max-width: 100%;
$container-width: 1230px; // tùy thuộc vào container của bản thiết kế // $container-width = container (đo từ bản thiết kế) + 30px

/*GRID - media queries breakpoints*/
$xxs-min: 576px; // CÓ THỂ TÙY CHỈNH
$xs-min: 768px; // KHÔNG THAY ĐỔI
$sm-min: 992px; // KHÔNG THAY ĐỔI
$md-min: 1200px; // KHÔNG THAY ĐỔI
$lg-min: 1600px; // CÓ THỂ TÙY CHỈNH

$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop

//=====================================CÁC BIẾN KHÔNG THAY ĐỔI GIÁ TRỊ KHI RESPONSIVE======================================
// colors - tuỳ chỉnh
$yellow-cl: #b68c2d;
$bg-cl: #0e1317;
$blue-cl: #090c0f;
$btn-cl: #1c2329;
$overlay-cl: #151b20;
$bluelight-cl: #151b20;
$bg-tag: #222d3b;
//text color
$white-cl: #fff;

// timing transition - tuỳ chỉnh
$t: 0.4s;
// $cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

// ========================================CÁC BIẾN CÓ THAY ĐỔI GIÁ TRỊ KHI RESPONSIVE=====================================

:root {
    //=========== VÍ DỤ ============//

    // font-size & line-height heading

    --h1-fs: 7.2rem;
    --h1-lh: 8rem;

    --h2-fs: 12.8rem;

    --h3-fs: 4rem;
    --h3-lh: 5.4rem;

    --h4-fs: 2.4rem;
    --h4-lh: 4rem;

    --heading-fs: 7.2rem;
    --heading-lh: 8rem;
    // --h5-fs: 2rem;
    // --h5-lh: 3rem;

    --header-fs: 1.4rem;
    --header-lh: 2rem;

    --body16-fs: 1.6rem;
    --body16-lh: 3rem;

    --body14-fs: 1.4rem;
    --body14-lh: 3rem;

    // Genaral Variable

    --gap: 30px; // gap này sử dụng cho gap cột & padding của container, container-fluid

    --height-header: 100px;
    --pd-section: 100px;

    @media (max-width: 1200px) {
        --height-header: 80px;

        --h2-fs: 12rem;

        --heading-fs: 6rem;
        --heading-lh: 7rem;
    }
    @media (max-width: 1100px) {
        --h2-fs: 10rem;
    }
    @media (max-width: 1050px) {
        --h2-fs: 9rem;
    }
    @media (max-width: $sm-max) {
        // Tablet
        --height-header: 70px;
        --h2-fs: 8rem;
        --pd-section: 80px;
    }
    @media (max-width: $xs-max) {
        // Mobile
        --height-header: 60px;
        --h2-fs: 6rem;

        --pd-section: 60px;
        --heading-fs: 5rem;
        --heading-lh: 6rem;
    }
    @media screen and (max-width: $xs-max) and (orientation: landscape) {
        --h2-fs: 5rem;
    }
    @media (max-width: $xxs-max) {
        --h2-fs: 5rem;
        --heading-fs: 4rem;
    }
}
